{{ define "main" }}
  <section class="full-width">
    <div class="container">
      <div class="row agenda-row">
        <div class="col-xs-12 left-col">
          <h1>{{ .Title }}</h1>
          {{ .Content }}

          {{ if $.Site.Data.agenda }}
            {{ range $time, $room := $.Site.Data.agenda }}
              <div class="agenda-list equal-heights">
                {{ $startTime := substr $time 0 4 }}
                {{ $endTime := substr $time 5 4 }}
                <h3>{{(slicestr $startTime 0 2)}}:{{slicestr $startTime 2 4}} - {{if eq $endTime "Late"}}{{$endTime}}{{else}}{{(slicestr $startTime 0 2)}}:{{slicestr $startTime 2 4}}{{end}}</h3>
                {{ range $roomName, $sessions := $room }}
                  {{ $roomLength := $sessions | len }}
                  {{ range $sessions }}
                    {{ $roomText := (index $.Site.Data.rooms $roomName).text }}
                    {{ if not .names }}
                    <div class="col {{$roomName}}-room">
                    {{ else }}
                    <a id="{{.id}}" class="col {{$roomName}}-room" href="#" data-toggle="modal" data-target="#agenda-modal">
                    {{ end }}
                      <span class="area">{{$roomText}}{{if gt ($roomLength) 1}} - {{.length}}mins{{end}}</span>
                      <span class="info">{{.title}}</span>
                      {{ if .names }}
                        <span class="speaker">{{ range $index, $names := .names }}{{if $index}},&nbsp;{{end}}{{.}}{{ end }}</span>
                      {{ end }}
                      {{ if .twitters }}
                        <span class="twitter">[{{ range $index, $twitters := .twitters }}{{if $index}},&nbsp;{{end}}&lt;a href="https://twitter.com/{{.}}" class="targetBlank"&gt;@{{.}}&lt;/a&gt;{{ end }}]</span>
                      {{ end }}
                      {{ if .websites }}
                        <span class="website">{{ range $index, $websites := .websites }}{{if $index}},&nbsp;{{end}}&lt;a href="{{.}}" class="targetBlank"&gt;{{.}}&lt;/a&gt;{{ end }}</span>
                      {{ end }}
                      {{ if .abstract }}
                        <span class="abstract"><p>{{.abstract | markdownify}}</p></span>
                      {{ end }}
                      {{ if .bio }}
                        <span class="bio"><p>{{.bio | markdownify}}</p></span>
                      {{ end }}
                    {{ if not .names }}
                    </div>
                    {{ else }}
                    </a>
                    {{ end }}
                  {{ end }}
                {{ end }}
              </div>
            {{ end }}
          {{ end }}

          <div class="modal fade" id="agenda-modal" tabindex="-1" role="dialog" aria-labelledby="agenda-modal">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="agenda-modal"></h4>
                <p class="speaker"></p>
              </div>
              <div class="modal-body"></div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 right-col">
          <div class="inner">
            {{ partial "event-details-right.html" . }}
            {{ partial "important-dates-right.html" . }}
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
