{{ define "main" }}
  <section class="right-sidebar">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-sm-8 left-col">
          <h1>{{ .Title }}</h1>
          {{ .Content }}
          {{ if not .Params.hideOpenVotingForm }}
            <form class="captcha-form" action="https://dddmelb.azurewebsites.net/add-session" method="post" role="form" data-toggle="validator" data-disable="false">
              <fieldset>
                <ul>
                  <li class="form-group">
                    <label for="SessionTitle">Session title <span class="required">&#42;</span></label>
                    <input type="text" name="SessionTitle" id="SessionTitle" data-error="Please provide your session title" required />
                    <span class="help-block with-errors"></span>
                  </li>
                  <li class="form-group">
                    <label for="SessionAbstract">Session abstract <span class="required">&#42;</span></label>
                    <textarea name="SessionAbstract" id="SessionAbstract" data-error="Please provide your session abstract" required></textarea>
                    <span class="help-block with-errors"></span>
                  </li>
                  <li class="form-group">
                    <label for="RecommendedAudience">Recommended audience (any pre-req knowledge etc?) <span class="required">&#42;</span></label>
                    <input type="text" name="RecommendedAudience" id="RecommendedAudience" data-error="Please provide your recommended audience" required />
                    <span class="help-block with-errors"></span>
                  </li>
                  <li class="form-group">
                    <label for="PresenterName">Presenter name <span class="required">&#42;</span></label>
                    <input type="text" name="PresenterName" id="PresenterName" data-error="Please provide your presenter name" required />
                    <span class="help-block with-errors"></span>
                  </li>
                  <li class="form-group">
                    <label for="PresenterBio">A bit about you <span class="required">&#42;</span></label>
                    <textarea name="PresenterBio" id="PresenterBio" data-error="Please provide your presenter bio" required></textarea>
                    <span class="help-block with-errors"></span>
                  </li>
                  <li class="form-group">
                    <label for="PresenterMobileNumber">Mobile number <span class="required">&#42;</span></label>
                    <input type="tel" name="PresenterMobileNumber" id="PresenterMobileNumber" data-error="Please provide your mobile number" required />
                    <span class="help-block with-errors"></span>
                  </li>
                  <li class="form-group">
                    <label for="PresenterEmail">Email <span class="required">&#42;</span></label>
                    <input type="email" name="PresenterEmail" id="PresenterEmail" data-error="Please provide your email" required />
                    <span class="help-block with-errors"></span>
                  </li>
                  <li class="form-group">
                    <label for="PresenterTwitterAlias">Twitter alias (optional)</label>
                    <input type="text" name="PresenterTwitterAlias" id="PresenterTwitterAlias" />
                  </li>
                  <li class="form-group">
                    <label for="PresenterWebsite">Website (optional)</label>
                    <input type="text" name="PresenterWebsite" id="PresenterWebsite" />
                  </li>
                  <li class="form-group">
                    <label for="PresenterCity">City/Town (optional)</label>
                    <input type="text" name="PresenterCity" id="PresenterCity" />
                  </li>
                  <li class="form-group">
                    <label for="PresenterCountry">Country (optional)</label>
                    <input type="text" name="PresenterCountry" id="PresenterCountry" />
                  </li>
                  <li class="form-group">
                    <label for="TravelAssistance">Do you require Travel Assistance?</label>
                    <select name="TravelAssistance" id="TravelAssistance">
                      <option selected value="No">No</option>
                      <option value="Yes">Yes</option>
                    </select> 
                    <span class="help-block with-errors"></span>
                  </li>
                  <li class="form-group">
                    <label for="CodeOfConduct">I will uphold and exemplify the Code of Conduct <span class="required">&#42;</span></label>
                    <select name="CodeOfConduct" id="CodeOfConduct" data-error="Please agree to the code of conduct" required >
                      <option disabled selected value> -- Select an option -- </option>
                      <option value="Yes">Yes</option>
                    </select> 
                    <span class="help-block with-errors"></span>
                  </li>
                  <li>
                    <label></label>
                    <div class="g-recaptcha" data-sitekey="6LezOSEUAAAAAFBSycA2Wm8j-UKqhSEi1rBM9F-o" data-callback="recaptchaComplete"></div>
                    <small><em>Please ensure reCAPTCHA verification is successful before submitting</em></small>
                    <img src="https://dddmelb.azurewebsites.net/Content/images/p.gif" />
                  </li>
                  <li><input type="submit" value="Submit" /></li>
                </ul>
              </fieldset>
            </form>
          {{ else }}
            <p>The Open Voting is now closed, so please submit to the in-house process using the form above.</p>
          {{ end }}
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4 right-col">
          <div class="inner">
            {{ partial "event-details-right.html" . }}
            {{ partial "important-dates-right.html" . }}
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
