{{ define "main" }}
  <section class="right-sidebar">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-sm-8 left-col">
          <h1>{{ .Title }}</h1>
          {{ .Content }}
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4 right-col">
          <div class="inner">
            <div class="next-event">
              <h3><span>Wave 2</span></h3>
              <a class="btn book" href="https://ti.to/ddd-melbourne/ddd-2018">Join the Waiting List</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4 right-col">
          <div class="inner">
            <div class="next-event">
              <h3><span>Opportunity Program</span></h3>
              <span>We’re committed to bringing in as many individuals who couldn’t attend otherwise as possible.</span><br /><br />
              <a class="btn agenda" href="/opportunity-program">Find out more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
