{{ define "main" }}
  {{ if .Params.fullWidth }}
  <section class="full-width">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 left-col">
          <h1>{{ .Title }}</h1>
          {{ .Content }}
        </div>
        <div class="col-xs-12 right-col">
          <div class="inner">
            {{ partial "event-details-right.html" . }}
            {{ partial "important-dates-right.html" . }}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ else }}
  <section class="right-sidebar">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-sm-8 left-col">
          <h1>{{ .Title }}</h1>
          {{ .Content }}
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4 right-col">
          <div class="inner">
            {{ partial "event-details-right.html" . }}
            {{ partial "important-dates-right.html" . }}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  {{ if .Params.showTravelInfo }}
    <section class="right-sidebar" id="travelinfo">
      <div class="container directions equal-heights">
        <div class="col">
          <div class="top">
            <i class="fa fa-car" aria-hidden="true"></i>
            <h3>Car</h3>
          </div>
          <div class="txt">
              <p>Although parking is available around the venue we recommend that delegates travel by public transport.</p>
          </div>
        </div>
        <div class="col">
          <div class="top">
            <i class="fa fa-train" aria-hidden="true"></i>
            <h3>Train</h3>
          </div>
          <div class="txt">
            <p>The closest train station is Flinders Street Station, one block away.</p>
          </div>
        </div>
        <div class="col">
          <div class="top">
            <i class="fa fa-subway" aria-hidden="true"></i>
            <h3>Tram</h3>
          </div>
          <div class="txt">
              <p>All Collins Street or Swanston Street trams stop at the corner of Melbourne Town Hall .</p>
          </div>
        </div>
        <div class="col">
          <div class="top">
            <i class="fa fa-car" aria-hidden="true"></i>
            <h3>Parking</h3>
          </div>
          <div class="txt">
            <p>There is minimal metered parking in the surrounding city streets. Alternatively, there are several <a href="https://www.parkopedia.com.au/parking/locations/melbourne_town_hall_melbourne_vic_australia_r1r0fgcwfdp/?arriving=201809150830&leaving=201809151900" class="targetBlank">car parks stations</a> nearby.</p>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
