<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <nav class="foot-nav">
          <ul>
          {{ range .Site.Menus.footer.ByWeight }}
            <li>
              <a href="{{ .URL  | relLangURL }}">{{ .Name }}</a>
            </li>
          {{ end }}
          </ul>
        </nav>
      </div>
      <div class="col-xs-12">
        <ul class="social">
          {{ if $.Site.Author.twitter }}
          <li><a rel="nofollow" class="tw targetBlank" href="https://twitter.com/{{ .Site.Author.twitter }}"></a></li>
          {{ end }}
          {{ if $.Site.Author.github }}
          <li><a rel="nofollow" class="gh targetBlank" href="https://github.com/{{ .Site.Author.github }}"></a></li>
          {{ end }}
          {{ if $.Site.Author.instagram }}
          <li><a rel="nofollow" class="ig targetBlank" href="https://www.instagram.com/{{ .Site.Author.instagram }}"></a></li>
          {{ end }}
          {{ if $.Site.Author.flickr }}
          <li><a rel="nofollow" class="fr targetBlank" href="https://www.flickr.com/{{ .Site.Author.flickr }}"></a></li>
          {{ end }}
          {{ if $.Site.Author.email }}
          <li><a rel="nofollow" class="em" href="mailto:{{ .Site.Author.email }}"></a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-xs-12 copyright">
        Copyright &copy; {{ now.Year }} {{ .Site.Author.name }}
      </div>
    </div>
  </div>
</footer>

<script src="{{ "js/jquery-3.2.0.min.js" | absURL }}"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{{ "js/countdown.js" | absURL }}"></script>
<script src="{{ "js/slick.min.js" | absURL }}"></script>
<script src="{{ "js/site.js" | absURL }}"></script>
<script src="{{ "js/validator.min.js" | absURL }}"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>

<script>
  $(document).ready(function(){
    $('#clock').countdown({{dateFormat "2006/01/02 15:04:05" .Site.Data.event.date}}, function(event) {
    var $this = $(this).html(event.strftime(''
      + '<span><strong>%m</strong> month%!m </span> '
      + '<span><strong>%n</strong> day%!n </span> '
      + '<span><strong>%H</strong> hour%!H </span> '
      + '<span><strong>%M</strong> min%!M </span> '
      + '<span><strong>%S</strong> sec%!S </span>'));
    });

    $('.slick.important-dates-right').slick({
      vertical: true,
      infinite: false,
      arrows: true,
      speed: 200,
      swipe: true,
      slidesToShow: 4,
      slidesToScroll: 1
    });
  });
</script>
