<section class="important-dates">
  <div class="container">
    <h2>Important Dates:</h2>

    {{ range $.Site.Data.event.dates }}
      {{ partial "important-date.html" . }}
    {{ end }}

    <div class="clear"></div>

    <div class="what-now">
      <!--
      <h2>What now?</h2>
      <a href="/submit-a-session/" class="btn submit">Submit a Session</a>
      <a href="/agenda/" class="btn agenda">View Agenda</a>
      <a href="/tickets/" class="btn book">Purchase a Ticket</a>
      -->
    </div>
  </div>
</section>
