<section class="sponsors">
    <h2>Sponsors</h2>
    We are currently looking for sponsors! If you'd like to explore sponsorship opportunities, please check out our <a href="/sponsorship">sponsorship page</a> for more information.
</section>
{{ if or ($.Site.Data.sponsors.platinum) ($.Site.Data.sponsors.gold) ($.Site.Data.sponsors.silver) ($.Site.Data.sponsors.services) ($.Site.Data.sponsors.community) }}
  <section class="sponsors">
  {{ if $.Site.Data.sponsors.platinum }}
    <h2>Platinum Partner</h2>
    {{ range $.Site.Data.sponsors.platinum }}
      <a href="{{.url}}" class="targetBlank"><img src="/images/logos/{{.img}}" alt="{{.text}}" /></a>
    {{ end }}
  {{ end }}

  {{ if $.Site.Data.sponsors.gold }}
    <h2>Gold Sponsors</h2>
    {{ range $.Site.Data.sponsors.gold }}
      <a href="{{.url}}" class="targetBlank"><img src="/images/logos/{{.img}}" alt="{{.text}}" /></a>
    {{ end }}
  {{ end }}
  {{ if $.Site.Data.sponsors.services }}
  <br /><br />
  {{ range $.Site.Data.sponsors.services }}
  <div class="services">
    <a href="{{.url}}" class="targetBlank">
      <small>{{.service}}</small>
      <img src="/images/logos/{{.img}}" alt="{{.text}}" />
    </a>
  </div>
  {{ end }}
  {{ end }}
  {{ if $.Site.Data.sponsors.silver }}
    <h2>Silver Sponsors</h2>
    {{ range $.Site.Data.sponsors.silver }}
      <a href="{{.url}}" class="targetBlank"><img src="/images/logos/{{.img}}" alt="{{.text}}" /></a>
    {{ end }}
  {{ end }}
  {{ if $.Site.Data.sponsors.community }}
    <h2>Community Partners</h2>
    {{ range $.Site.Data.sponsors.community }}
      <a href="{{.url}}" class="targetBlank"><img src="/images/logos/{{.img}}" alt="{{.text}}" /></a>
    {{ end }}
  {{ end }}
  </section>
{{ end }}

{{ if $.Site.Data.sponsors.standard }}
  <section class="sponsors grey">
    {{ range $.Site.Data.sponsors.standard }}
      <a href="{{.url}}" class="targetBlank"><img src="/images/logos/{{.img}}" alt="{{.text}}" /></a>
    {{ end }}
  </section>
{{ end }}
