{{ if or ($.Site.Data.sponsors.platinum) ($.Site.Data.sponsors.gold) ($.Site.Data.sponsors.silver) }}
  <section class="sponsors">
  {{ if $.Site.Data.sponsors.platinum }}
    <h2>Platinum Partner</h2>
    {{ range $.Site.Data.sponsors.platinum }}
      <a href="{{.url}}" class="targetBlank"><img src="/images/sponsors/{{.img}}" alt="{{.text}}" /></a>
    {{ end }}
  {{ end }}

  {{ if $.Site.Data.sponsors.gold }}
    <h2>Gold Sponsors</h2>
    {{ range $.Site.Data.sponsors.gold }}
      <a href="{{.url}}" class="targetBlank"><img src="/images/sponsors/{{.img}}" alt="{{.text}}" /></a>
    {{ end }}
  {{ end }}

  {{ if $.Site.Data.sponsors.silver }}
    <h2>Silver Sponsors</h2>
    {{ range $.Site.Data.sponsors.silver }}
      <a href="{{.url}}" class="targetBlank"><img src="/images/sponsors/{{.img}}" alt="{{.text}}" /></a>
    {{ end }}
  {{ end }}
  </section>
{{ end }}
